html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-left: 5rem;
}

h1 {
  padding-left: 5rem;
}

h5 {
  padding-top: 15rem;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  margin: 2rem;
  text-align: center;
  display: flex;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display: flexbox;
  color: #686868;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: black;
}

.App-card {
  margin: 1rem;
  width: 10rem;
}

.container {
  text-align: center;
  display: flex;
  margin-top: 15px;
}
